.bar1 {
  padding: 10px 20px;
  margin: auto;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bar1 ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.bar1 ul li a {
  text-decoration: none;
  color: #030303;
  padding: 10px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition */
}
.bar1 ul li a:hover {
  background-color: #e91e73;
  color: white;
  transform: scale(1.05); /* Scale on hover */
}

.bar1 ul li.active a {
  background-color: #0d0d0e;
  color: white;
  border: 2px solid #e91e73; /* Border for active link */
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  background-color: pink;
  max-width: 100%; /* Responsive logo */
  height: 50%;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 200;
}
.bar2 {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin: auto;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.bar2 ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.bar2 ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition */
}

.bar2 ul li a:hover {
  color: rgb(209, 209, 110);
  transform: scale(1.05); /* Scale on hover */
}
.hero-content {
  position: absolute; /* positions content relatively to their nearest positioned ancestoror initial containing block */
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-content h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  text-shadow: #0d0d0e;
}
.hero-content p {
  font-size: small;
}

.icon-container {
  display: flex;
  gap: 15px;
}

.icon {
  position: relative;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.icon.cart .badge {
  position: absolute;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: bold;
}
